@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;400;500;800&family=Nunito+Sans:wght@700&family=Open+Sans:wght@700&family=Permanent+Marker&display=swap');
/*
font-family: 'Hanken Grotesk', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
*/
:root {
	--bg-black1: #0e1111;
	--bg-black2: #232b2b;
	--bg-black3: #353839;
	--bg-black4: #3b444b;
	--bg-black5: #414a4c;
	--grey-white: #D3D3D3;
	--dark-green: #1DB954
}
/*
background color
#414a4c,#3b444b,#353839,#232b2b,#0e1111
accent color
#391e63,#c2185b,#9c27b0,#5727b0,#272ab0,#276bb0,#57acdc,#57dcbe,#60c689, #1DB954
#red, purple, dark blue, light blue, terqoiz, green, spotify green
*/
body, html {
	height:100%;
}
.testr {
	border: 1px solid red;
}
.testg {
	border: 1px solid green;
}
.testb {
	border: 1px solid blue;
}
.nav-flex-1{
	flex:1;
	width:0;
}
.downarrow-sec1{
	text-align:center;
}
.navbar-btn-container{
	text-align:end;
}
.navbar-btn-container.navbar-toggler{
	border: none;
}

.left{
	background-color: var(--dark-green);
}

.sec-2-wrapper{

}
.left-right-wrapper{
	flex:1;
}
.downarrow-container{

}
@media only screen and (min-width: 992px) { /*hide navbar for med and below screens*/
	.sec-2{
		position:relative;
	}
	.downarrow-container{
		position:absolute;
		top:95%;
		height:100%;
		background-color:transparent;
	}
	.right {
	}
	.AboutMe{
		position: relative;
		padding: 30px;
		padding-right: 100px;
		right: 400px;
		margin: 0px auto;
		background-color:var(--bg-black1);
		border-radius: 100px;
	}
}
.headshot {
	border-radius: 10%;
	position:relative;
	-webkit-box-shadow: -23px 23px 0px 4px #000000; 
	box-shadow: -0.25rem 0.25rem 0px 0.25rem #137736;
}

@media only screen and (max-width: 992px) { /*hide navbar for med and below screens*/
	.hide-lg{
		display:none;
	}
}

section{
	background: #0e1111;
	font-family: 'Hanken Grotesk', sans-serif;
	color:white;
}
#iam{
	font-family: 'Permanent Marker', cursive;
}
#name{
	font-family: 'Hanken Grotesk', sans-serif;
}
#title{
	color: #1DB954
}
@media DISABLED { /*comment*/
.main::-webkit-scrollbar { 
	display: none;  /* Safari and Chrome */
}
.main{
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
	scroll-snap-type: y mandatory;
	overflow-y:scroll;
	color:white;
}
section{
	width:100vw;
	scroll-snap-align:start;
	background:#0e1111;
	display:flex;
	font-family: 'Hanken Grotesk', sans-serif;
}
.sec1{ /*inherit some attrib from section selector*/
	padding: 10px 50px;
	flex-direction: column;
	justify-content:space-between;
	font-weight: 500;
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("./src/ales-nesetril-Im7lZjxeLhg-unsplash.jpg") no-repeat center center fixed;;
	background-repeat:repeat;
	background-size: cover;
}
.sec2{ /*inherit some attrib from section selector*/
	flex-direction:column;
	background:#232b2b;
}
.downarrow-sec2 {
	display: flex;
	border: 1px solid white;
}
.leftright-wrapper{
	display:flex;
	height:100vh;
	flex-direction: row;
	justify-content:space-between;
}


.right, .left{
	display: flex;
	flex-direction: column;
	flex:1;
	justify-content: center;
	padding: 10px 50px;
	gap: 50px;
}

.left{
	background:#1DB954;
}


.mail{
	color:white;
}
h1{
	color:#1DB954;
	font-size: 50px;
}
.AboutMe{
	position: relative;
	right: 170px;
	background: #232b2b;
	box-shadow: -27px 14px 14px 0px	#1db954;

	
	border-radius: 50px;
	padding: 15px;
	margin:0;
}
p.indent{
	text-indent: 30px;
}
.sec2-content::-webkit-scrollbar { 
	display: none;  /* Safari and Chrome */
}
.sec2-content{
	margin:0;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
	display:flex;
	flex-direction:column;
	justify-content: space-between;

	text-overflow: ellipsis;
}

.sec3{
	scroll-snap-type: y mandatory;
	height:100vh;
	background:#353839;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	font-weight: 500;
}
.sec4{
	scroll-snap-type: y mandatory;
	height:100vh;
	background:#3b444b;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	font-weight: 500;
}

.intro{
	text-align:center;
}
#name {
	font-size: 55px;
}
#title {
	color:#1DB954;
	font-size: 28px;
	font-weight: 400;
}

#iam {
	font-size:25px;
	font-family: 'Permanent Marker', cursive;
}
.navbar{
	display: flex;
	justify-content:space-between;
	font-size: 16px;
	font-weight: 400;
}
.logo {
	flex: 1;
	font-size: 25px;
}
nav {
	display:flex;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
	gap: 45px;
}
.downarrow {
	display:flex;
	justify-content: center;
	flex: 1;
}

.nav-menu{
	text-decoration: none;
	color: white;
}



.test{
	border: 1px solid white;
}

}